<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="content">
    <h2>Add new person</h2>
    <form action="#" th:action="@{/person/add}" th:object="${person}" method="post">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}"/>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}"/>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
</html>